# Ignore build artifacts
server
*.exe
*.dll
*.so
*.dylib

# Go build cache and vendor
**/vendor/
**/node_modules/
**/.cache/

# Git
.git

# Docker
Dockerfile
docker-compose.yml

# Editor
*.swp
*.swo
.idea
.vscode
